@model IssueTracker.Models.IssueLogInvolvedPersonListingModel

<!-- Modal -->

<div class="modal fade" id="view-issue" tabindex="-1" role="dialog" aria-labelledby="viewIssueLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">Issue Tracker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="involvedPersonForm" asp-action="View">
                    <input id="txtId" type="hidden" asp-for="Id" />
                    <input id="txtIsStartOrComplete" type="hidden" asp-for="IsStart" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CompanyName"></label>
                                <input asp-for="CompanyName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ProjectName"></label>
                                <input asp-for="ProjectName" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ExpectedDate"></label>
                                <input asp-for="ExpectedDate" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Detail"></label>
                                <textarea asp-for="Detail" class="form-control" rows="4" readonly></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Note"></label>
                                <textarea asp-for="Note" class="form-control" rows="4" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IssueType"></label>
                                <input asp-for="IssueType" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Priority"></label>
                                <input asp-for="Priority" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        @if (Model.ReceiveDate == null)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    <input asp-for="ExpectedHour" id="txtExpectedHour" type="number" placeholder="Hours" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <input id="btnStart" type="submit" value="Start" class="btn btn-info" />
                                </div>
                                <div class="col-md-7">
                                    <table>
                                        @foreach(var otherWorkingStatus in Model.OtherWorkingStatus)
                                        {
                                            <tr>
                                                <td>* @otherWorkingStatus</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                        @if (Model.ReceiveDate != null)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    <input asp-for="HoursToComplete" id="txtHoursToComplete" type="number" placeholder="Hours" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <input id="btnSubmit" type="submit" value="Complete" class="btn btn-primary" />
                                </div>
                                <div class="col-md-7">
                                    <table>
                                        @foreach (var otherWorkingStatus in Model.OtherWorkingStatus)
                                        {
                                            <tr>
                                                <td>* @otherWorkingStatus</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#btnSubmit').attr('disabled', true);
        $('#txtHoursToComplete').keyup(function () {
            if ($(this).val().length != 0 && $(this).val() > 0)
                $('#btnSubmit').attr('disabled', false);
            else
                $('#btnSubmit').attr('disabled', true);
        })

        $('#btnStart').attr('disabled', true);
        $('#txtExpectedHour').keyup(function () {
            if ($(this).val().length != 0 && $(this).val() > 0)
                $('#btnStart').attr('disabled', false);
            else
                $('#btnStart').attr('disabled', true);
        })
    });
</script>