@model IssueTracker.Models.IssueLogInvolvedPersonListingModel

<!-- Modal -->

<div class="modal fade" id="view-issue" tabindex="-1" role="dialog" aria-labelledby="viewIssueLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">Issue Tracker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="View">
                    <input id="txtId" type="hidden" asp-for="Id" />
                    <input id="txtIsStartOrComplete" type="hidden" asp-for="IsStart" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CompanyName"></label>
                                <input asp-for="CompanyName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ProjectName"></label>
                                <input asp-for="ProjectName" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ExpectedDate"></label>
                                <input asp-for="ExpectedDate" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Detail"></label>
                                <textarea asp-for="Detail" class="form-control" rows="4" readonly></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Priority"></label>
                                <input asp-for="Priority" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IssueType"></label>
                                <input asp-for="IssueType" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label></label>
                                    @if (Model.ReceiveDate == null)
                                    {
                                        <input style="margin-top: 4px;" type="submit" value="Start" class="btn btn-info" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label></label>
                                    @if (Model.ReceiveDate != null)
                                    {
                                        <input style="margin-top: 4px;" type="submit" value="Complete" class="btn btn-primary" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>